<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">
      <img src="./assets/img/usuario.png" alt="" style="width: 50%;">
      <h1>Sistema Control de Acceso</h1>
      <mat-form-field class="ancho">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="usercod">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="password">
      </mat-form-field>
      <br>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid" class="ancho boton">Iniciar Sesión</button>
    </form>
  </div>
</div>
